
.pages{
    display:flex;
}

.page{
    border: 1px solid black;
    padding:20px;

    &:hover{
        background-color: rgb(189, 189, 241);
    }
}

.active{
    background-color: blue;
    color:white;
}

.box1{
    width:50px;
    height:50px;
    background-color: yellow;
}

.box2{
    width:100px;
    height:100px;
    background-color: blue;
}

.box3{
    width:300px;
    height: 100px;
    background-color: blue;
}       