
.notification{
    top:20px;
    left:100px;
    position: absolute;
    width:400px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px #807f7f;
    padding:10px 20px;
    display: flex;
    justify-content: space-between;
    color:#fff;
}

.success{
    background-color: green;
}

.info{
    background-color: blue;
}

.warning{
    background-color: orange;
}

.error{
    background-color: red;
}